<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Subscriptions</key>
	<dict/>
	<key>Consumables</key>
	<dict>
		<key>com.semanticnotion.flappyrevenge.3lives</key>
		<dict>
			<key>Count</key>
			<integer>3</integer>
			<key>Name</key>
			<string>Lives</string>
		</dict>
		<key>com.semanticnotion.flappyrevenge.ammo300</key>
		<dict>
			<key>Count</key>
			<integer>300</integer>
			<key>Name</key>
			<string>AmmoinApp</string>
		</dict>
		<key>com.semanticnotion.flappyrevenge.ammo600</key>
		<dict>
			<key>Count</key>
			<integer>600</integer>
			<key>Name</key>
			<string>AmmoinApp</string>
		</dict>
		<key>com.semanticnotion.flappyrevenge.ammo1000</key>
		<dict>
			<key>Count</key>
			<integer>1000</integer>
			<key>Name</key>
			<string>AmmoinApp</string>
		</dict>
		<key>com.semanticnotion.flappyrevengepaid.ammo100</key>
		<dict>
			<key>Count</key>
			<integer>100</integer>
			<key>Name</key>
			<string>AmmoinApp</string>
		</dict>
		<key>com.semanticnotion.flappyrevengepaid.ammo300</key>
		<dict>
			<key>Count</key>
			<integer>300</integer>
			<key>Name</key>
			<string>AmmoinApp</string>
		</dict>
		<key>com.semanticnotion.flappyrevengepaid.ammo600</key>
		<dict>
			<key>Count</key>
			<integer>600</integer>
			<key>Name</key>
			<string>AmmoinApp</string>
		</dict>
		<key>com.semanticnotion.flappyrevengepaid.ammo1000</key>
		<dict>
			<key>Count</key>
			<integer>1000</integer>
			<key>Name</key>
			<string>AmmoinApp</string>
		</dict>
	</dict>
	<key>Non-Consumables</key>
	<array>
		<string>com.semanticnotion.flappybirdeasyfree.removeads</string>
	</array>
</dict>
</plist>
